@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

#hero-bg-menu {
    opacity: 0;
}

.sombra-subtitulo {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    color: #fff;
    z-index: -1;
}

.shadow-custom {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25), 0 4px 70px 0 rgba(0, 0, 0, 0.25) inset;
}

@media screen and (max-width: 768px) {
    .item-nav {
        transform: translateX(-1000%);
        animation: moveLeft 0.5s forwards;
    }

    #hero-bg-menu {
        animation: animacion 0.5s forwards;
    }

    .item-nav:nth-child(2) {
        animation-delay: 0.01s;
    }

    .item-nav:nth-child(3) {
        animation-delay: 0.02s;
    }

    .item-nav:nth-child(4) {
        animation-delay: 0.03s;
    }

    .item-nav:nth-child(5) {
        animation-delay: 0.04s;
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(-1000%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes animacion {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.video-js {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}