---
interface Props {
    size: "medium" | "large";
    imgSrc: string;
    width: number;
    height: number;
}

const { size, imgSrc, width, height } = Astro.props;
---

<a
    href={`/imagenes/${imgSrc}`}
    data-pswp-width={width}
    data-pswp-height={height}
    data-cropped="true"
    class:list={[
        "rounded-xl shadow-custom overflow-hidden group cursor-pointer w-full",
        size === "medium" && "h-auto lg:h-[300px] xl:h-[400px]",
        size === "large" && "h-[300px] xl:h-[500px]",
    ]}
>
    <img
        src={`/imagenes/${imgSrc}`}
        class="rounded-xl w-full h-full object-cover group-hover:scale-105 group-hover:-rotate-1 transition-transform duration-300"
        alt=""
    />
</a>
