---
import SectionContainer from "../SectionContainer.astro";
import Title from "../Title.astro";
import CardServices from "./CardServices.astro";
import { Brush, Clapperboard, Gamepad2, RectangleGoggles } from "@lucide/astro";
---

<SectionContainer id="servicios" class="flex-col gap-6 md:gap-10 lg:gap-16">
    <Title title="Servicios" />
    <div class="grid grid-cols-1 grid-rows-4 md:grid-cols-2 md:grid-rows-2 gap-6 lg:gap-9">
        <CardServices
            title="Edición y producción de video"
            description="Transformo ideas en piezas audiovisuales impactantes, cuidando cada detalle desde la grabación hasta la postproducción para lograr un resultado profesional y atractivo."
            icon={Clapperboard}
            classColor="orange-card"
        />
        <CardServices
            title="Modelado y animación 3D"
            description="Creo modelos 3D detallados y animaciones fluidas en Blender, ideales para proyectos  publicitarios, educativos o de entretenimiento."
            icon={Brush}
            classColor="red-card"
        />
        <CardServices
            title="Edición y producción de video"
            description="Transformo ideas en piezas audiovisuales impactantes, cuidando cada detalle desde la grabación hasta la postproducción para lograr un resultado profesional y atractivo."
            icon={RectangleGoggles}
            classColor="green-card"    
        />
        <CardServices
            title="Modelado y animación 3D"
            description="Creo modelos 3D detallados y animaciones fluidas en Blender, ideales para proyectos  publicitarios, educativos o de entretenimiento."
            icon={Gamepad2}
            classColor="purple-card"
        />
    </div>
</SectionContainer>
