---
import "@/styles/global.css";
import "@fontsource/poppins";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<title>Jorge Enrique Jiménez Moreno | Mi Portafolio</title>
	</head>
	<body class="flex flex-col gap-y-14 md:gap-y-20 xl:gap-y-28 bg-[#F6F6F6] relative">
		<slot />
	</body>
</html>

<script src="../utils/main.js"></script>
<script src="../utils/animation.js"></script>
<script src="../utils/animate-elements.js"></script>
<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    if (typeof window !== "undefined") {
        const lightbox = new PhotoSwipeLightbox({
            gallery: ".gallery",
            children: "a",
            pswpModule: () => import("photoswipe"),
        });

        lightbox.init();
    }
</script>
