---
import "@/styles/global.css";
import "@fontsource/poppins";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Jorge Enrique Jiménez Moreno | Mi Portafolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<script src="../utils/main.js"></script>
<script src="../utils/animation.js"></script>
