---
import "@/styles/global.css";
import "@fontsource/poppins";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<title>Jorge Enrique Jiménez Moreno | Mi Portafolio</title>
	</head>
	<body class="flex flex-col gap-y-14 md:gap-y-20 xl:gap-y-28">
		<slot />
	</body>
</html>

<script src="../utils/main.js"></script>
<script src="../utils/animation.js"></script>
